---
import { Icon } from "astro-icon/components"
---

<footer>
    <div class="wrapper">
        <div>
            <h2>ONG</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit adipisci laborum dolorum porro ea quod!
            </p>
        </div>

        <div>
            <h2>Liens rapides</h2>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Projet</a></li>
                <li><a href="#">Partenariat</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div>
            <h2>Contact</h2>
            <ul>
                <li>
                    <address>ACI 2000, Bamako, Mali</address>
                </li>
                <li>
                    <a href="tel:+22378787878">+223 78787878</a>
                </li>
                <li>
                    <a href="mailto:contact@ong.com">contact@ong.com</a>
                </li>
            </ul>
        </div>

        <div>
            <h2>Réseaux sociaux</h2>
            <ul>
                <li><a href="#"><Icon name="ri:tiktok-fill"/></a></li>
                <li><a href="#"><Icon name="ri:linkedin-box-fill"/></a></li>
                <li><a href="#"><Icon name="ri:facebook-circle-fill"/></a></li>
            </ul>
        </div>
    </div>
</footer>