---
import { Icon } from "astro-icon/components"
---

<footer>
    <div class="wrapper">
        <div class="flow-xs">
            <h2 class="text">ONG</h2>
            <p class="text-sm">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit adipisci laborum dolorum porro ea quod!
            </p>
        </div>

        <div class="flow-xs">
            <h2 class="text">Liens rapides</h2>
            <ul class="text-sm">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Projet</a></li>
                <li><a href="#">Partenariat</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="flow-xs">
            <h2 class="text">Contact</h2>
            <ul class="contact-list text-sm">
                <li>
                    <Icon name="ri:map-pin-line" />
                    <span>ACI 2000, Bamako, Mali</span>
                </li>
                <li>
                    <Icon name="ri:phone-fill" />
                    <a href="tel:+22378787878">+223 78787878</a>
                </li>
                <li>
                    <Icon name="ri:mail-fill" />
                    <a href="mailto:contact@ong.com">contact@ong.com</a>
                </li>
            </ul>
        </div>

        <div class="flow-xs">
            <h2 class="text">Réseaux sociaux</h2>
            <ul class="social-list">
                <li><a href="#" class="text-md"><Icon name="ri:tiktok-fill"/></a></li>
                <li><a href="#" class="text-md"><Icon name="ri:linkedin-box-fill"/></a></li>
                <li><a href="#" class="text-md"><Icon name="ri:facebook-circle-fill"/></a></li>
            </ul>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--primary-1000);
    }

    footer .wrapper {
        display: grid;
        gap: var(--gap-5) var(--gap-3);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    }

    .social-list {
        display: flex;
        gap: var(--gap-0);
        align-items: center;
    }

    ul {
        display: grid;
        gap: var(--space-0);
    }

    .contact-list li {
        display: flex;
        gap: var(--gap-0);
        align-items: center;
    }

    h2, p, span, a, [data-icon] {
        color: var(--clr-white);
    }
</style>