<header>
    <div class="wrapper">
        <h1>ONG</h1>

        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Projet</a></li>
                <li><a href="#">Partenariat</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Faire un don</a></li>
            </ul>
        </nav>
    </div>
</header>