---
const { testimonial } = Astro.props;
---

<div class="testimonial flow">
    <div class="testimonial-user-info">
        <div class="testimonial-img-wrapper">
            {
                testimonial?.photo ? (
                    <img
                    src={testimonial.photo}
                    alt={testimonial?.alt || "user photo"}
                    />
                ) : (
                    <div class="avatar-fallback">
                    {testimonial?.name?.[0]?.toUpperCase()}
                    </div>
                )
            }
        </div>
        <div>
            <h4 class="text-sm">{testimonial?.name  || "user name"}</h4>
            <span class="text-xs">{testimonial?.jobTitle  || "job title"}</span>
        </div>
    </div>
    <div class="testimonial-content flow-xs">
        <h3 class="text-sm">{ testimonial?.title  || "Lorem ipsum dolor sit amet consectetur adipisicing"}</h3>
        <p class="text-xs">
            { testimonial?.description   || "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam quibusdam dicta provident aperiam, ipsum ullam porro aliquid. Earum, minus."}
        </p>
    </div>
</div>

<style>
    .testimonial {
        border-radius: 2rem;
        corner-shape: squircle;
        background-color: color-mix(in oklab, var(--clr-white) 75%, transparent);
        
        padding: var(--space-3) var(--space-3);
        box-shadow: var(--shadow-elevation-low);
    }

    .testimonial-user-info {
        display: flex;
        gap: var(--gap-1);
        align-items: center;

        img {
            width: 40px;
            height: auto;
            aspect-ratio: 1;
            box-shadow: none;
            corner-shape: circle;
        }

        .avatar-fallback {
            width: 40px;
            aspect-ratio: 1;
            text-align: center;
            border-radius: 5rem;
            corner-shape: circle;
            padding-block: var(--space-1);
            background-color: var(--secondary-100);
        }
    }
</style>