---
import { Icon } from "astro-icon/components"
---

<section class="contact">
    <div class="wrapper">
        <div class="contact-content flow">
            <h2 class="text-xxl">Changer des vies, un projet à la fois</h2>
            <p class="text">Nous travaillons pour offrir éducation, santé et dignité aux communautés vulnérables.</p>
            
            <div class="contact-actions">
                <a href="#" class="btn btn-primary">Faire un don</a>
                <a href="#" class="btn btn-tertiary">
                    <Icon name="ri:group-fill" />
                    <span>Devenir partenaire</span>
                </a>
            </div>
        </div>
        
        <form class="flow">
            <h2 class="text-lg text-center">Contribuer</h2>
            
            <div class="form-group">
                <label class="text-sm" for="name">Nom</label>
                <input type="text" name="name" id="name" placeholder="Votre nom">
            </div>
            <div class="form-group">
                <label class="text-sm" for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Votre email">
            </div>
            <div class="form-group">
                <label class="text-sm" for="email">Message</label>
                <textarea name="message" id="message" placeholder="Votre message..."></textarea>
            </div>
        </form>
    </div>
</section>

<style>
    section {
        @container (width < 600px){
            aspect-ratio: 4 / 5;
            background: url("/bg/hero5.png");
            border-image: fill 1 linear-gradient(hsl(0 0 0 / .6), hsl(0 0 0 / .6));
        }

        @container (width > 600px){
            background: url("/bg/hero3.png");
            border-image: fill 1 linear-gradient(hsl(0 0 0 / .5), hsl(0 0 0 / .5));
        }
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .wrapper {
        display: grid;
        gap: var(--gap-5);
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    }

    .contact-content {
        h2 {
            color: var(--clr-white);
        }

        p {
            color: var(--gray-50);
        }

        .contact-actions {
            display: flex;
            gap: var(--gap-0);
        }
    }

    form {
        border-radius: 1rem;
        corner-shape: squircle;
        background: var(--gray-50);
        padding: var(--space-6) var(--space-3);
    }
</style>