<section class="cta">
    <div class="wrapper">
        <h2>Chaque geste compte</h2>
        <p>Votre soutien peut transformer une vie aujourd’hui.</p>

        <button>Faire un don maintenant</button>
    </div>
</section>
