<section class="cta">
    <div class="wrapper">
        <h2 class="text-xl text-center">Chaque geste compte</h2>
        <p class="text-sm text-center">Votre soutien peut transformer une vie aujourd’hui.</p>

        <a href="#" class="btn btn-primary">Faire un don maintenant</a>
    </div>
</section>

<style>
    .wrapper {
        display: flex;
        gap: var(--gap-2);
        align-items: center;
        flex-direction: column;

        border-radius: 2rem;
        corner-shape: squircle;
        background-color: var(--primary-0);
    }
</style>