<section class="bg-blue-50">
    <div class="wrapper">
        <div class="flex flex-col items-center gap-6 p-10 text-center rounded-xl">
            
            <h2 class="text-3xl font-bold md:text-6xl">
                Rejoignez une action qui a du sens
            </h2>

            <p class="text-base md:text-lg text-gray-700 max-w-2xl">
                Que ce soit en soutenant nos projets, en devenant bénévole ou en établissant un partenariat, chaque contribution permet de renforcer notre impact auprès des communautés.
            </p>

            <div class="flex flex-col md:flex-row gap-3">
                <a href="#donation" class="btn-primary">
                    Soutenir un projet
                </a>

                <a href="#contact" class="btn-secondary">
                    Nous contacter
                </a>
            </div>
        </div>
    </div>
</section>