<section class="help">
    <div class="wrapper">
        <h2>Comment aider?</h2>

        <ul class="help">
            <li>
                <span>💰</span>
                <h3>Faire un don</h3>
                <p>Soutenez directement nos actions.</p>
            </li>

            <li>
                <span>🤝</span>
                <h3>Devenir bénévole</h3>
                <p>Participez sur le terrain ou à distance.</p>
            </li>

            <li>
                <span>🏢</span>
                <h3>Devenir partenaire</h3>
                <p>Collaborez avec nous sur des projets.</p>
            </li>
        </ul>
    </div>
</section>
