<section class="team-memberbg-emerald-950" id="hero">
    <div class="wrapper pt-20 pb-30 md:pt-30 md:pb-50">
        <div class="hero-content flex flex-col items-start">
            <h2 class="text-2xl mb-6 text-white font-bold md:text-5xl md:mb-8 text-center md:text-left">
                Ensemble, construisons un avenir plus juste et durable
            </h2>

            <p class="text-lg md:text-xl mx-auto mb-10 md:mb-8 text-gray-300 text-center md:text-left">
                Nous accompagnons les communautés à travers des actions concrètes en faveur de l’éducation, de la solidarité, de la santé et du développement durable.
            </p>

            <div class="flex justify-center flex-wrap gap-4">
                <a href="#donation" class="btn-primary">
                    Soutenir notre mission
                </a>

                <a href="#contact" class="btn-secondary bg-white text-black">
                    Devenir partenaire
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background: url("/img/hero.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-image: fill 1 linear-gradient(hsl(24 0 0 / .6), hsl(24 0 0 / .6));
    }

    .wrapper {
        display: grid;
        gap: 2rem 4rem;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    }

    .hero-content {
        max-width: 576px;
    }
</style>