<section class="impact">
    <div class="wrapper flow-lg">
        <h2 class="text-xl text-center">Notre impact</h2>

        <ul class="impact-list">
            <li class="text-center">
                <h3 class="text-lg">+15 000</h3>
                <p class="text-sm">Bénéficiaires aidés</p>
            </li>

            <li class="text-center">
                <h3 class="text-lg">120</h3>
                <p class="text-sm">Puits construits</p>
            </li>

            <li class="text-center">
                <h3 class="text-lg">80</h3>
                <p class="text-sm">Écoles soutenues</p>
            </li>

            <li class="text-center">
                <h3 class="text-lg">35</h3>
                <p class="text-sm">Communautés accompagnées</p>
            </li>
        </ul>
    </div>
</section>

<style>
    section {
        background-color: var(--primary-0);
    }

    .impact-list {
        display: grid;
        gap: var(--gap-3);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    
        li {
            display: grid;
            gap: var(--gap-1);
        }
    }
</style>