<section class="mission">
    <div class="wrapper">
        <img src="/bg/mission.jpg" alt="Volontaires sur le terrain">
        
        <div class="mission-content flow">
            <h2 class="text-xl">Notre mission</h2>
    
            <p class="text-sm">
                Réduire les inégalités en donnant accès aux besoins essentiels :
                éducation, eau potable, santé et développement local.
            </p>
    
            <ul class="mission-list">
                <li>
                    <img src="/icons/education.png" alt="">
                    <span class="text-sm">Éducation pour tous</span>
                </li>
                <li>
                    <img src="/icons/water.png" alt="">
                    <span class="text-sm">Accès à l’eau potable</span>
                </li>
                <li>
                    <img src="/icons/medical.png" alt="">
                    <span class="text-sm">Santé communautaire</span>
                </li>
                <li>
                    <img src="/icons/sustainability.png" alt="">
                    <span class="text-sm">Développement durable</span>
                </li>
            </ul>
        </div>
    </div>
</section>


<style>
    .wrapper {
        display: grid;
        gap: var(--gap-5);
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
        
        > img {
            corner-shape: squircle;
            border-radius: 1rem;
        }
    }

    
    .mission-list {
        display: grid;
        gap: var(--gap-3);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 165px), 1fr));

        img {
            width: 32px;
            aspect-ratio: 1;
        }
    
        li {
            display: grid;
            gap: var(--gap-0);
            padding: var(--space-3);
            
            border-radius: 1rem;
            corner-shape: squircle;
            border: 1px solid var(--gray-200);
        }
    }
</style>