<section class="partners">
    <div class="wrapper">
        <h2>Nos partenaires</h2>

        <ul class="partner-list">
            <li>
                <img src="partner1.png" alt="Partenaire 1">
            </li>
            <li>
                <img src="partner2.png" alt="Partenaire 2">
            </li>
            <li>
                <img src="partner3.png" alt="Partenaire 3">
            </li>
            <li>
                <img src="partner4.png" alt="Partenaire 4">
            </li>
        </ul>
    </div>
</section>
