<section class="programs">
    <div class="wrapper flow-lg">
        <h2 class="text-xl text-center">Nos programmes</h2>

        <ul class="program-list">
            <li>
                <img src="/bg/education.jpg" alt="Éducation">
                <h3 class="text">Éducation</h3>
                <p class="text-sm">Soutien scolaire et construction d’écoles.</p>
            </li>

            <li>
                <img src="/bg/medical.jpg" alt="Santé">
                <h3 class="text">Santé</h3>
                <p class="text-sm">Accès aux soins médicaux de base.</p>
            </li>

            <li>
                <img src="/bg/water2.jpg" alt="Eau potable">
                <h3 class="text">Eau potable</h3>
                <p class="text-sm">Construction de puits et systèmes d’eau.</p>
            </li>

            <li>
                <img src="/bg/agriculture2.jpg" alt="Agriculture">
                <h3 class="text">Agriculture</h3>
                <p class="text-sm">Formation et autonomie alimentaire.</p>
            </li>
        </ul>
    </div>
</section>

<style>
    .program-list {
        display: grid;
        gap: var(--gap-3);
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    
        img {
            object-fit: cover;
            border-radius: 2rem;
            corner-shape: squircle;
            aspect-ratio: 16/9;
        }

        li {
            display: flex;
            gap: var(--gap-0);
            flex-direction: column;
        }
    }
</style>