<section class="px-3">
    <div class="wrapper stat-wrapper">
        <ul class="stat-list px-5">
            <li class="stat">
                <h3>25 000+</h3>
                <p>
                    bénéficiaires accompagnés à travers nos programmes
                </p>
            </li>

            <li class="stat">
                <h3>45</h3>
                <p>
                    projets communautaires réalisés avec impact durable
                </p>
            </li>

            <li class="stat">
                <h3>120+</h3>
                <p>
                    bénévoles et partenaires engagés à nos côtés
                </p>
            </li>

            <li class="stat">
                <h3>8</h3>
                <p>
                    années d’engagement au service des communautés
                </p>
            </li>
        </ul>
    </div>
</section>

<style>
    .stat-list {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 175px), 1fr));
    }
</style>