<section>
    <div class="wrapper">
        <h2 class="text-3xl md:text-6xl text-center font-bold mb-8 md:12">
            Une équipe engagée sur le terrain
        </h2>

        <p class="text-base md:text-lg text-center max-w-2xl mx-auto mb-10 text-gray-600">
            Notre organisation repose sur une équipe de professionnels, bénévoles et partenaires engagés qui travaillent chaque jour pour renforcer l’impact de nos actions auprès des communautés.
        </p>

        <ul>
            <li class="flex flex-col gap-2 items-center text-center">
                <img src="https://api.dicebear.com/9.x/lorelei/svg?seed=emma" alt="Membre de l'équipe" class="w-20 h-20" />

                <h4 class="text-lg font-semibold">Awa Traoré</h4>
                <span class="text-base text-gray-600">Responsable Programmes</span>
            </li>

            <li class="flex flex-col gap-2 items-center text-center">
                <img src="https://api.dicebear.com/9.x/lorelei/svg?seed=john" alt="Membre de l'équipe" class="w-20 h-20" />

                <h4 class="text-lg font-semibold">Moussa Diarra</h4>
                <span class="text-base text-gray-600">Coordinateur Terrain</span>
            </li>

            <li class="flex flex-col gap-2 items-center text-center">
                <img src="https://api.dicebear.com/9.x/lorelei/svg?seed=sarah" alt="Membre de l'équipe" class="w-20 h-20" />

                <h4 class="text-lg font-semibold">Fatou Koné</h4>
                <span class="text-base text-gray-600">Chargée de Projet</span>
            </li>

            <li class="flex flex-col gap-2 items-center text-center">
                <img src="https://api.dicebear.com/9.x/lorelei/svg?seed=alex" alt="Membre de l'équipe" class="w-20 h-20" />

                <h4 class="text-lg font-semibold">Ibrahim Coulibaly</h4>
                <span class="text-base text-gray-600">Responsable Partenariats</span>
            </li>
        </ul>
    </div>
</section>

<style>
    ul {
        gap: 2rem 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    }
</style>